<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height:100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhMqwaEiielzDt0nwIRSKVk6vsthRjX5I">
    </script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
    </script>

    <script type="text/javascript">
      function initialize() {

      var lastmarker = null;

      var dataArray = <%- dataArray %>;
      console.log(dataArray);

      var heatmapData = [];
      for(var i = 0; i < dataArray.length; i++){
        heatmapData.push(new google.maps.LatLng( dataArray[i].latitude, dataArray[i].longitude));
      }
      console.log(heatmapData);

        var myLatlng = new google.maps.LatLng(52.447522,-1.9339875);

        map = new google.maps.Map(document.getElementById('map-canvas'), {
          zoom: 7,
          center: myLatlng
        });


        //draw heatmap
        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatmapData
        });
        heatmap.setMap(map);

        //info window displaying context on button
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

                //text of info window
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Transporters in your area</h1>'+
            '<div id="bodyContent">'+

            '<p>Choose from a range of Getaway drivers in the area</p>'+
              '<img src="https://farm8.staticflickr.com/7235/13231481773_ae7804a289_s.jpg" align="left" alt="Christiano" height="75" width="75">'+
              '<p style="font-size:15px">Price £100</p>'+
              '<p><a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194" style="font-size: 20px; text-decoration: none">Book Christiano aka "The Viking"</a></p>'+
            '<br>'+
              '<img src="https://pbs.twimg.com/profile_images/427936247680483328/-ORMbU8T_400x400.png" align="left" alt="Joe" height="75" width="75">'+
              '<p style="font-size:15px">Price £100</p>'+
              '<p><a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194" style="font-size: 20px; text-decoration: none">Book Joe aka "Haskell"</a></p>'+
            '<br>'+
              '<img src="https://scontent-a-lhr.xx.fbcdn.net/hphotos-xap1/t31.0-8/10363475_10152409512798088_7134929937864315280_o.jpg" align="left" alt="Jack" height="75" width="75">'+
              '<p style="font-size:15px">Price £50</p>'+
              '<p><a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194" style="font-size: 20px; text-decoration: none">Book Jack aka "My little pony"</a></p>'+
            '</div>'+
            '</div>';
        //info window displaying context on button
        var infowindow = new google.maps.InfoWindow({
          content: contentString,
          Width: 800
        });

    google.maps.event.addListener(map, 'click', function(event) {
      placeMarker(event.latLng);
    });

function placeMarker(location) {
    var marker = new google.maps.Marker({
        position: location,
        map: map,
        title: 'Book Transporter'
    });

    if (lastmarker) {
      lastmarker.setMap(null);
    }

    lastmarker = marker;

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
}

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
    </script>
  </head>
  <body>
<div style="color:#FFFFFF">
  <h1><%= title %></h1>
  <p style="font-size:25px">Welcome to <%= title %>, your one and only platform for finding those crime hotspots, and booking a cab to escape the cops!</p>
  <p style="font-size:15px">No cats were harmed in the making of this service!</p>
  <p style="font-size:10px">Except Mrs Norris. She kinda derserved it</p>
  <p><a href="/mapapi">Link to second page</a><p>
  <body bgcolor="#b3d1ff">
</div>
<div id="map-canvas"></div>
  </body>
</html>
