<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height:100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhMqwaEiielzDt0nwIRSKVk6vsthRjX5I">
    </script>
    <script type="text/javascript">
      function initialize() {

        //create an array of styles
        var AllCrime = [
        {
          stylers: [
            { hue: "#00ffe6" },
            { saturation: -20 }
        ]
      },{
        featureType: "road",
        elementType: "geometry",
        stylers: [
            { lightness: 100 },
            { visibility: "simplified" }
        ]
      },{
        featureType: "road",
        elementType: "labels",
        stylers: [
            { visibility: "off" }
          ]
        }
      ];

        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(AllCrime,
            {name: "General crime"});

        var myLatlng = new google.maps.LatLng(53.0395844,-2.8241606);

        var mapOptions = {
          zoom: 7,
          center: new google.maps.LatLng(53.0395844, -2.8241606), //{ lat: 53.0395844, lng: -2.8241606},
          mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
          }
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Uluru</b>…</p>'+
            '<a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'http://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            '</div>'+
            '</div>';

        //info window displaying context on button
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        //draggable marker on the map
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          draggable:true,
          title:"Drag me!"
        });


        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<div style="color:#FFFFFF">
  <h1><%= title %></h1>
  <p style="font-size:25px">Welcome to <%= title %>, your one and only platform for finding those crime hotspots, and booking a cab to escape the cops!</p>
  <p style="font-size:15px">No cats were harmed in the making of this service!</p>
  <p style="font-size:10px">Except Mrs Norris. She kinda derserved it</p>
  <p><a href="/mapapi">Link to second page</a><p>
  <body bgcolor="#b3d1ff">
</div>
<div id="map-canvas"></div>
  </body>
</html>
