<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height:100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhMqwaEiielzDt0nwIRSKVk6vsthRjX5I">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 53.0395844, lng: -2.8241606},
          zoom: 7
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<div style="color:#FFFFFF">
  <h1><%= title %></h1>
  <p style="font-size:25px">Welcome to <%= title %> your one and only platform for finding crime spots and book getaway cars</p>
  <body bgcolor="#A0C3FF">
</div>
<div id="map-canvas"></div>
  </body>
</html>
