<!DOCTYPE html>
<html>
  <body>
    <p> Did you hear about the crime that happened in a parking garage? It was wrong on so many levels.

    Novice pirates make terrible singers because they can't hit the high seas.

    </p>
  </body>
</html>
